<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Weather App</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{error}}</p>
    </div>
    {{>footer}}
</body>
</html>