<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Weather App</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site Was Created By :- Gurtej Lal. It uses data from mapbox.com and darksky.net {darksky Api is not accepting any new signup}</p>
        <img src="/images/pic1.jpg" class="portrait">
    </div>
    {{>footer}}
</body>
</html>