<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/weather.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="/js/client.js"></script>
    <title>Weather App</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather ... </p>
        <form>
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
        {{address}}
    </div>
    {{>footer}}
</body>
<script>
</script>
</html>